
<div class="day_view">
	<div class="row">
		<div class="span6">
			<h2><%= @startDate.strftime("%a %e %B %Y") %></h2>
		</div>
	</div>
	<div class="row">
		<% data_points = @data_points[@startDate.strftime("%F")] %>
		<% if !data_points.nil?%>
			<div class="span3">
				<ul class="sortableImages">
	        <% data_points.each do |photo| %>
						<li>
	          	<%= render :partial => "data_points/show/main_photo", :locals => {:data_point => photo, :style => "174px"} %>
						</li>
	        <% end %>
	      </ul>
			</div>
			<div class="span9">
				<div id="dayGraphicContainer"></div>
			</div>
		<% else %>
			<div class="alert alert-info">
				<button class="close" data-dismiss="alert">×</button>
				<strong>No photos!</strong>
			</div>
		<% end %>
	</div>
</div>