<%= form_for @user, :html => { :class => "form-horizontal", :multipart => true } do |f| %>
	<fieldset>
		<div class="control-group">
				<div class="control-group editable_img_container file userPic">
					<div class="controls">
						<div class="pic">
							<%= getPicture(@user, "medium") %>
						</div>
						<a class="btn btn-upload" href="javascript:void(0)">Upload photo</a>
						<input class="hide user_picture" id="fileInput" name="user[picture]" type="file">
						<div class="progress progress-striped active hide">
						  <div class="bar" style="width: 0%;"></div>
						</div>
						<div>
							<span class="help-inline clear file hide">Please upload a photo</span>
							<span class="help-inline clear file_size_limit hide">Please upload a photo under 4Mb</span>
						</div>
					</div>
				</div>
		</div>
		<!-- hidden field used when redirecting after updating, this anchor attached to url
			will open the right tab -->
			<%= hidden_field_tag :anchor, "picture" %>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary"><% if @user.picture.present? %>Update<% else %>Save<% end %></button>
		</div>
	</fieldset>
<% end %>