
	<%= form_for @preference, :url => preference_path(@preference), :html => { :class => "form-horizontal" } do |f| %>
		<fieldset>
			<div class="control-group <% if @user.errors[:daily_calories_limit].present? %>error<%end%>">
				<%= f.label :daily_calories_limit, "Daily calorie goal", :class => "control-label"  %>
				<div class="controls">
					<%= f.text_field :daily_calories_limit, :type=> "number"  %>
					<span class="help-inline">This will set a line on the graph as a reference point</span>
					<% if @preference.errors[:daily_calories_limit].present? %>
						<span class="help-inline"><%= @preference.errors[:daily_calories_limit].join(", ")%></span>
					<%end%>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Update</button>
			</div>
			<div class="control-group">
				<script type="text/javascript" id="WolframAlphaScript3f0b9e714dc05b05aad90cae08d25e3b" src="http://www.wolframalpha.com/widget/widget.jsp?id=3f0b9e714dc05b05aad90cae08d25e3b&theme=orange&output=iframeOpenExpand&width=350">
				</script>
			</div>
		</fieldset>
	<% end %>