<div class="control-group eating-habits">
	<div class="controls">
		<label>
			Describe yourself and your eating habits in one sentence, so other Rubixsters can decide whether to follow you or not.
		</label>
		<label class="secondary">
			Ex: '40-yr old mom, struggling with juggling so much and eating healthy, especially at night.'
		</label>
		<%= f.text_area :eating_habits, :class => "input-xlarge", :rows => 5  %>
		<div class="clear"></div>
		<span class="help-inline caraterCounter"></span>
	</div>
</div>