


	<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
	    <tbody>
	<%= render :partial => "email/style/white_space" %>
	<%= render :partial => "email/style/grey_limiter" %>
	<%= render :partial => "email/style/white_space" %>
	 </tbody>
	</table>
