<div style="outline:1px solid #ffffff;line-height:1px; background-color:#e96000;">
	<!-- <img src="https://s3.amazonaws.com/sendicate-app/uploads/p/uploaded_assets/attachments/000/000/173/original/bullets-2col-alpha.gif" width="320" height="40" alt="•&nbsp;•&nbsp;•&nbsp;•&nbsp;•&nbsp;•&nbsp;•&nbsp;•&nbsp;•" style="outline:none;text-decoration:none;line-height:1px"> -->
	<%= image_tag('email/bullets-2col-alpha.gif', :alt => "•&nbsp;•&nbsp;•&nbsp;•&nbsp;•&nbsp;•&nbsp;•&nbsp;•&nbsp;•", :style => "outline:none;text-decoration:none;line-height:1px; width:320px; height:40px")%>
</div>