<p>Hi <%= @dataPoint.user.username%>,</p>
<p><%= @comment.user.username%> has commented one of your meal.</p>
<p>View it <a href="http://www.foodrubix.com/data_points/<%= @dataPoint.id%>">here</a></p>


