<p>Hi <%= @dataPoint.user.username%>,</p>
<p><%= @comment.user.username%> has commented on one of your meals. How exciting!</p>
<p>View it <a href="http://www.foodrubix.com/data_points/<%= @dataPoint.id%>">here</a></p>


