<div class="row comment">
	<div class="span1">
		<%= getPicture(comment.user, "small") %>
	</div>
	<div class="span3">
		<h5><%= getUsername(comment.user) %></h5>
		<p class="commentText"><%= comment.text %></p>
	</div>
</div>

