<% @comments.each do |comment| %>	
	<div class="row comment">
		<div class="span1">
			<%= getPicture(comment.user) %>
		</div>
		<div class="span3">
			<h5><%= getUsername(comment.user) %></h5>
			<p><%= comment.text %></p>
		</div>
	</div>
		
<% end %>
