<% @comments.each do |comment| %>	
	<div class="row comment">
		<div class="span1">
			<%= getPicture(comment.user) %>
		</div>
		<div class="span4">
			<h5><%= comment.user.username %></h5>
			<p><%= comment.text %></p>
		</div>
	</div>
		
<% end %>
