<div class="emptyState">
	<%= image_tag "arrow_empty_state.png", :class => "pull-right",  %>
	<blockquote class="pull-right">
		<p>"A journey of a thousand miles begins with a single step."</p>
		<small>Confucius</small>
	</blockquote>
</div>