h1 {
	font-size: 5em;
	margin-bottom: 0.1em;
}

h2 {
	font-size: 32px;
	margin-bottom: 25px;
}

#container {
	margin: 0 auto;
	width: 960px;
}

a {
	text-decoration: none;
}



a:hover.cta {
	text-decoration: none;
	background-color: #F6722F;
	color:white;
}

a:hover.cta-log-in {
	text-decoration: none;
	background-color: #828282;
	color:white;
}


header {
	margin: 15px 0 20px 0;
}

ul{
	padding-left: 0;
	margin-left: 0;

}

ul li {
	display: inline;
}

strong{
	font-size:16px;

}

.cta, .cta-log-in {
	float: right;
	font-size: 16px;
	padding: 10px;
	background-color: #E96000;
	border-radius: 6px;
	margin-top: 17px;
	margin-left: 20px;
	color: #FFF;
	text-align: center;
	width: 100px;
	text-transform: uppercase;
	border: 1px solid #DB5B02;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.cta-log-in {
	background-color: #999999;
	border: 1px solid #6D6D6D;
}


#main {
	background: url("../../assets/homepage/mesh.png") repeat;
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	border: 2px dashed #fff;
	padding-top: 40px;
	padding-bottom: 40px;
}


h5 {
	color: white;
	margin-right: 20px;
	margin-top: 50px;
}

h3 {
	color: black;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans', sans-serif;;
}

iframe.youtube_video {
	background: #fff;
	margin: 20px auto;
	padding:20px;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 8px 6px -6px #777;
}

.column1of3, .column2of3, .column3of3 {
	background: #fff;
	padding:20px;
	border-radius: 2px 2px 2px 2px;
	width: 270px;
	height: 425px;
	float: left;
	margin: 5px;
	box-shadow: 0 1px 4px
	rgba(0, 0, 0, 0.3), 0 0 40px
	rgba(0, 0, 0, 0.1) inset;
}

.column1of3 p, .column2of3 p, .column3of3 p{
	margin-top: 20px;
	color:black;
	line-height: 1.7em;
	font-weight: bolder;
	font-size: 15px;
}

.step {
	margin-top: 10px;
}

/* RIBBON ----------------------------------------------------*/

#orange-ribbon {
	position: relative;
}
#orange-ribbon .ribbon {
	background: #e96000;
	min-height: 92px;
	text-align: center;
}
#orange-ribbon .ribbon-left {
	position: absolute;
	width: 56px;
	height: 92px;
	background: url(../../assets/homepage/ribbon-left.png) no-repeat;
	top: -18px;
	left: -56px;
}
#orange-ribbon .ribbon-right {
	position: absolute;
	width: 56px;
	height: 92px;
	background: url(../../assets/homepage/ribbon-right.png) no-repeat;
	top: -18px;
	right: -56px;
}

/* login and register ----------------------------------------------------*/

.controls label{
	float: left;
	margin: 0 175px 2px;
	color: black;
}

.form-actions{
	background-color: transparent;
	border-top: 0;
}

.span10 .alert{
	margin-left: 160px;
}

.alert{
	margin-left: 20px;
}

.alert a.cta{
	padding: 10px;
	background-color: #E96000;
	border-radius: 6px;
	margin-left: 20px;
	color: white;
	text-align: center;
	width: 145px;
	text-transform: uppercase;
	border: 1px solid #DB5B02;
	display: inline-block;
	margin: 10px 0 0 0;
	float: none;
}

span.important_email{
	width: 333px;
	color: black;
}

span.important_email div{
	width: 280px;
	padding: 5px 0 0 25px;
}

.lost_password{
	margin-right: 105px
}

label.checkbox{
	margin-right: 10px;
	width: 90px;
}

.tos, .privacy{
	color:black;
	text-align: left;
}

/*
FOOTER
*/
footer {
	background: url("../../assets/homepage/footer-bg.png") repeat;
	width: 100%;
	height: 100px;
	float: left;
	text-align: right;
	border-radius: 6px
}

footer a{
	float: left;
	margin: 70px 0 0 15px
}
