
		<div class="center">
			<img class="loading " src="<%= asset_path("loading.gif") %>"></img>
		</div>

<%= button_to "Follow", friendships_url(:followee => @followee.id), :method => :post, :class => "hide"%>.
