<h1>Users</h1>

<table class="table table-striped">
  <thead>
		<tr>
	    <th>Username</th>
	    <th>email</th>
  	</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		  <tr>
		    <td><%= user.id %></td>
		    <td><%= user.username %></td>
		    <td><%= user.email %></td>
		    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
		
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
