<h2>Our awesome FoodRubix family. We're in this together.</h2>

<% @users.each_slice(3) do |group| %>
	<div class="row-fluid user-list">
		<div class="span12">
			<%= render :partial => "user", :collection => group, :as => :user %>
		</div>
	</div>
<% end %>


<%= will_paginate @users, :param_name => 'users_page'%>  

<% @followees.each_slice(3) do |group| %>
	<div class="row-fluid user-list">
		<div class="span12">
			<%= render :partial => "friendships/friendship", :collection => group, :as => :friendship %>
		</div>
	</div>
<% end %>

<%= will_paginate @followees, :param_name => 'followees_page'%>  
