<div class="pull-right">
	<%= link_to(new_data_point_url,:class=>"btn btn-primary") do%>
		<i class="icon-upload icon-white"></i>
		 Upload
	<%end%>
</div>
<div class="row">
	<div class="span10">
		<div class="btn-group btn-last">
		  <button class="btn" data-lastDays = "0">Today</button>
		  <button class="btn active" data-lastDays = "-6">This week</button>
		  <button class="btn" data-lastDays = "-30">This month</button>
		</div>		
	</div>
</div>

<br/>

<script id="photos_tmpl" type="text/html">
<%= render "data_points/photo_list" %>
</script>

<div id="photos"></div>

<div id="chartdiv"></div>
