<div class="pull-right">
	<%= link_to(new_data_point_url,:class=>"btn btn-primary") do%>
		<i class="icon-upload icon-white"></i>
		 Upload
	<%end%>
</div>

<% @user.data_points.each do |data_point| %>
	<div style="display:inline; float:left;">
		<%= link_to image_tag(data_point.photo.url(:thumb)), data_point_path(data_point) %>
		

		<%= data_point.calories %>
	</div>
	
<% end %>