.feeds .btn-group{
	margin-top:10px
}

.feed .photo{
	margin: 0 0 20px 10px;
	width: 220px;
}
.feed .content{
	margin-left: 300px;
	margin-bottom: 20px;
}
.feed{
	overflow: auto
}

.feed .info{
	margin: 5px 0;
}

.feed .info .muted{
	font-size: 85%;
}

.feed .commentInfo{
	margin-left: 80px;
	width: 220px;
	float: left;
	margin-left: 10px;
}

.feed .commentText{
	margin-bottom: 0;
}
.feed .description{
	font-size: 15px;
	margin-bottom: 9px;
}

.feed .ribbon-wrapper.right .ribbon {
	top: 25px;
	right: -65px;
}