
<h2>People that inspire you</h2>

<% @groups.each do |group| %>
	<div class="row">
		<% group.each do |friendship| %>
  			<div class="span3">
				<div class="image">
					<%= link_to user_path(:username=> friendship.followee.username) do %>
						<%=  image_tag friendship.followee.picture.url(:small) %>
					<% end %>
			    	<%= friendship.followee.username%>
				  	<%= link_to "Unfollow", friendship, :method => :delete, :class => "btn btn-primary"  %>
			
				</div>
	  		</div>
		<% end %>
	</div>
<% end %>
