<% cache [data_point, style, size, "v1"] do %>
	<div class="img_wrapper <%= size %>">
		<% if data_point.has_award? %>
			<div class="ribbon-wrapper right">
				<div class="ribbon">
					<span><%= data_point.award %></span>
				</div>
			</div>
		<% end %>
		<%= image_tag data_point.photo.url(size), :height	=> style, :width => style %>
	</div>

<% end %>