<% cache "home" do %>
<h1>Visual Food Journal</h1>
<h2>Because tracking what you eat should be easier</h2>

<section id="orange-ribbon">
	<div class="ribbon-left"></div>
	<div class="ribbon">
	</div>
	<div class="ribbon-right"></div>
</section><!-- #orange ribbon -->

<section class="column1of3">
	<%=  image_tag("homepage/step1.png", :alt=>"Step 1", :class=>"step", :width=>"275", :height=>"294")  %>
	<br/>
	<p>Snap a photo of your meal<br /> with your phone.</p>
</section>

<section class="column2of3">
	<%=  image_tag("homepage/step2.png", :alt=>"Step 2", :class=>"step", :width=>"275", :height=>"294")  %>
	<br/>
	<p>Email the photo to<br /><%=  image_tag("homepage/email.png", :alt=>"email", :width=>"228", :height=>"30")  %>
	<br />Add CALORIES in the subject line.</p>
</section>

<section class="column3of3">
	<%=  image_tag("homepage/step3.png", :alt=>"Step 3", :class=>"step", :width=>"275", :height=>"294")  %>
	<br/>
	<p>Check for patterns.<br />Repeat for 30 days!</p>
</section>
<% end %>