<div class="row tos">
	<div class="span10 offset1">


		<h2>Terms of Services</h2>
		<p>By using and accessing this website, www.foodrubix.com (collectively referred to as the "Site" or "FoodRubix" in these Terms of Service), you ("you", "user" or, "end user") agree to these Terms of Service (collectively, the "Terms of Service" or "Agreement").</p>

		<p>IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, IMMEDIATELY STOP ACCESSING THIS SITE.</p>

		<p>You agree not to modify, copy, distribute, transmit, display, perform, reproduce, publish, license, transfer, create derivate work from, sell or re-sell any content or information obtained from or through the Site.</p>

		<h4>Third-party Sites.</h4>
		<p>The Site may contain links to other websites maintained by third-parties. These links are provided solely as a convenience and does not imply endorsement of, or association with, the party by FoodRubix.</p>
		<h4>Modifications to this Agreement.</h4>
		<p>FoodRubix reserves the right to change or modify any of the terms and conditions contained in this Agreement at any time. You acknowledge and agree that it is your responsibility to review the Site and these Terms of Service from time to time. Your continued use of the Site after such modifications to this Agreement will constitute acknowledgment of the modified Terms of Service and agreement to abide and be bound by the modified Terms of Service.</p>
		<h4>Termination of Use.</h4>
		<p>FoodRubix shall have the right to immediately terminate or suspend, in its discretion, your access to all or part of the Site with or without notice for any reason.</p>
		<h4>Limitation of Liability.</h4>
		<p>In no event shall FoodRubix or its affiliates be liable for any indirect, incidental, special, punitive damages or consequential damages of any kind, or any damages whatsoever arising out of or related to your use of the Site, the content and other information obtained therein.</p>

		<p>Certain jurisdictions prohibit the exclusion or limitation of liability for consequential or incidental damages, thus the above limitations may not apply to you. </p>
		<h4>Governing Law.</h4>
		<p>Any disputes arising out of or related to these Terms of Service and/or any use by you of the Site shall be governed by the laws of the United States, without regard to the conflicts of laws provisions therein.</p>
		<h4>Date of Last Update.</h4>
		<p>This agreement was last updated on December 7, 2012.</p>
	</div>
	<div class="span1"></div>
</div>