/* team rubix
--------------------------------*/
#team-rubix .cbm_wrap{
	background: white;
	height: 1%;
	overflow: hidden
}

.alone{
	margin-top: 20px;
}

#team-rubix .user{
	min-height: 60px;
	display: block;
	padding: 5px 0;
	margin-left: 0;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
}



#team-rubix .user .follow{
	display:none;
}

#team-rubix .points {
	margin: 0 8px;
}

#team-rubix .user .content{
	margin: 0 90px 0 65px;
}


#team-rubix .user .avatar{
	position: absolute;
	top:5px;
	left: 0;
}

#team-rubix .user .username{
	color: #333;
	font-weight: bold;
	margin-bottom: 0;
	height: 20px;
	float:left;
}

#team-rubix .user .winner-ribbons{
	margin-left: 10px
}
#team-rubix .user .winner-ribbons img{

}
#team-rubix .user .diet{
	font-size: 11px;
	clear: both;
}

#team-rubix .user .intro{
	font: italic 13px/18px Georgia,"Times New Roman",serif;
	clear: both;
}


.leaderboard a.user:hover .points,
.total_leaderboard a.user:hover .points,
.friends a.user:hover .points,
.latest-members a.user:hover .ago{
	padding-top: 12px;
}

.leaderboard .points,
.friends .points,
.total_leaderboard .points{
	color: #E96000;
	font-weight: bold
}

#team-rubix .user:hover .follow{
	display:inline;
}

#team-rubix .user:hover{
	background-color: #EEE;
	text-decoration: none;
}

#team-rubix .user a:hover{
	text-decoration: none;
}

#team-rubix .user:hover .username{
	text-decoration: underline;
	color: #E96000;
}


#team-rubix .user:hover .points p{
	display:none;
}


#team-rubix form{
	margin: 0;
}



#team-rubix .btn.follow{
	width: 80px;
}

.latest-members .member{
	width: 100%
}

#team-rubix .show_more{
	width: 96%
}

.user-list .span4{
	background-color: #EEE;
	margin-bottom: 10px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.user-list .btn{
	margin-top:10px;
}

.dots{
	background: url("/assets/3_dots.png") 0 0 no-repeat;
	height: 42px;
	left: 45%;
	position: relative;
	margin: 5px 0;
}

.leaderboard-info{
	margin-bottom: 0;
	margin-top: 5px;
}

.user span.username{
	margin-left: 10px;
}

.diet-filter select{
	width:auto;
	margin-top:12px;
}
