<div class="image" id="image_{{id}}" data-id="{{id}}" data-toggle="modal" data-target="#modal_view" >
	<img class="thumb" src="http://s3.amazonaws.com/<%= S3_CREDENTIALS[:bucket]%>/photos/{{img_path}}"  />
	<div class="overlay">
		<div>
		<span class="label label-info">
			<span class="nbCalories">{{calories}} cal</span>
		</span>
		<span class="label label-info">
			<span class="time">{{uploaded_at_readable}}</span>
		</span>
		</div>
		<div>
		<span class="label label-info">
			<span class="nbComments">{{nb_comments}}</span>
			<i class="icon-comment"></i>
		</span>
		<span class="label label-info like {{liked}}" like-id="{{like_id}}">
			<span class="nbLikes">{{nb_likes}}</span>
			<i class="{{like_class}}"></i>
		</span>
		</div>
	</div>
</div>			
