<div class="row">
	<div class="span6">
		<h2>{{month}} {{year}}</h2>
	</div>
</div>
<table class="calendar_table table table-striped">
  <thead>
    <tr>
      <th class="span1_7">Sunday</th>
      <th class="span1_7">Monday</th>
      <th class="span1_7">Tuesday</th>
      <th class="span1_7">Wednesday</th>
      <th class="span1_7">Thursday</th>
      <th class="span1_7">Friday</th>
      <th class="span1_7">Saturday</th>
    </tr>
  </thead>
  <tbody class="scrollable">
{{#data}}
    <tr>
	{{#week_data}}
      <td class="span1_7 with_margin"><b>{{day_date}}</b></td>
	{{/week_data}}
    </tr>
    <tr>
	{{#week_data}}
      <td class="span1_7">
      		{{#current_month}}
				{{#data_points}}
					<div class="image" id="image_{{id}}">
						<img class="thumb" src="http://s3.amazonaws.com/<%= S3_CREDENTIALS[:bucket]%>/photos/{{img_path}}"  data-toggle="modal" data-target="#modal_view_{{id}}" />
						<div class="overlay">
							<span class="label label-info">
								<span class="nbComments">{{nbComments}}</span>
								<i class="icon-comment"></i>
							</span>
							<span class="label label-info">
								<span class="nbLikes">{{nbLikes}}</span>
								<i class="icon-heart"></i>
							</span>
						</div>
						<div class="edit_data_point hide " data-toggle="modal" data-target="#modal_edit_{{id}}">
							<i class="icon-pencil"></i>
						</div>
					</div>
					<%= render "data_points/update_modal_box" %>			
					<%= render "data_points/view_modal_box" %>			
				{{/data_points}}
				{{^data_points}}
				<div class="image">
					<p class="pagination-centered"></p>
				</div>
				{{/data_points}}
			{{/current_month}}
			{{#other_month}}
				
			{{/other_month}}
      </td>
	{{/week_data}}
    </tr>
{{/data}}
  </tbody>
</table>


