<div id="modal_edit_{{id}}" class="hide  modal editPhoto" data-id="{{id}}">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Update data point</h3>
	</div>
	<div class="modal-body">
		<form id="uploadForm_{{id}}" action="/data_points/{{id}}" method="PUT" enctype="multipart/form-data">

			<div class="alert alert-block alert-error alert-delete fade in hide">
				<h4 class="alert-heading">Are you sure you want to delete?</h4>
				<p>
					<a class="btn btn-danger btn-delete" data-loading-text="Deleting..." href="#">Delete</a>
					<a class="btn" href="#" data-dismiss="modal">Cancel</a>
				</p>
			</div>
			<div class="editable_img_container pull-right">
				<img  data-original-title="{{created_at_readable}}" data-content="Calories: {{calories}}" src="http://s3.amazonaws.com/<%= S3_CREDENTIALS[:bucket]%>/photos/{{img_path}}" />
				<a class="btn btn-upload" href="#">Change photo</a>
				<input class="hide data_point_photo" id="fileInput_{{id}}" name="data_point[photo]" type="file">
				<div class="progress progress-striped active hide">
				  <div class="bar" style="width: 0%;"></div>
				</div>
				<div>
					<span class="help-inline clear file hide">Please upload a photo</span>
					<span class="help-inline clear fileExtension">Format supported: jpg, png, gif, tiff</span>
				</div>
			</div>
		</form>

		<fieldset>

			<div class="control-group calories">
				<label class="control-label">Calories</label>
				<div class="controls">
					<input class="" id="data_point_calories" name="data_point[calories]" type="number"
					 value="{{calories}}">
					<span class="help-inline calories hide">Please enter a number</span>

				</div>
			</div>

			<div class="control-group date">
				<label class="control-label">Date</label>
				<div class="controls">
					<div class="input-append date datePicker" data-date="{{uploaded_at_editable}}" data-date-format="mm-dd-yyyy">
						<input size="16" type="text" value="{{uploaded_at_editable}}" data-date-utc="{{uploaded_at}}">
						<span class="add-on"><i class="icon-th"></i></span>
						<span class="help-inline date hide">Please enter a correct date (mm-dd-yyy)</span>

					</div>
				</div>
			</div>
			<div class="control-group time">
				<label class="control-label">Time</label>
				<div class="controls">
					<input class="timePicker" id="timePicker_{{id}}" name="data_point[time]" type="text"
					 value="{{time_uploaded_at}}">
					<span class="help-inline time hide">Please enter a correct time (HH:mm)</span>
				</div>
			</div>

			<div class="control-group description">
				<div class="descrInput">
					<label class="control-label">Description (optional)</label>
					<div class="controls">
						<input class="" id="data_point_description" name="data_point[description]" type="text"
						value="">
					</div>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-cancel" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-danger btn-confirm-delete">Delete</a>
		<a href="#" class="btn btn-primary btn-save" data-loading-text="Saving...">Save changes</a>
	</div>
</div>