<div id="info_total_leaderboard" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="infoAllTimeLeaderboard" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">All-Time Leaderboard</h3>
  </div>
  <div class="modal-body">
    <p>
      The all-time leaderboard will be updated daily based on member activity. Ranking is basically a combination on how active you're on the site and how healthy you're eating. Participate in the community and eat healthy, and watch your points go up.
    </p>
    <%= render :partial => "users/index/table_leaderboard_points" %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>