<div id="latest-members">
	<div class="page-header">
		<h3>Latest Members</h3>
		<p class="leaderboard-info">Welcome to the FoodRubix family!</p>
	</div>
	<div class="latest_member_users">
		<%= render :partial => "users/index/latest_members_users", :locals => {:latest_members => latest_members}%>
	</div>

		<!-- Show link only if there are more than one page and pass page and sorting parameters -->
	<% unless latest_members.total_pages < 2 %>
		<%= link_to 'Show More', users_path(:sort => "created_at", :direction => "desc" , :latest_member_page => 2), :remote => true, :id => 'show_more_latest_member_link', :class => "btn btn-small show_more"%>
	<%end %>
</div>