
/*update data point modal box
--------------------------------*/

div.editable_img_container{
	position:relative;
	height: 380px;

}

.editable_img_container .controls{
    border: 1px solid #CCC;
    height: 200px;
    width: 200px;
	position:relative;

}

.editable_img_container .pic a{
	width: 100%;
	height: 100%;
}
.editable_img_container a{
	position: absolute;
}
.editable_img_container a.btn-upload{
	top: 47%;
	left: 27%;
}

.editable_img_container .progress{
	position: absolute;
	width: 51%;
	top: 47%;
	left: 25%;

}

.no-filesystem .modal input[type="file"]{
top: 47%;
left: 5px;
position: absolute;
}

/*.filesystem .modal input[type="file"]{
	display:none;
}

.no-filesystem .modal .btn-upload{
	display:none;
}


*/