<p>
	Hi <%= @dataPoint.user.username%>,
</p>
<p>
	<%= link_to @comment.user.username, user_url(:username=> @comment.user.username)%> has commented on one of your meals.
</p>
	<p>How exciting!</p>
</p>
<p>
	View it <%= link_to "here", data_point_url(:id => @dataPoint.id)%>
</p>