
<tr style="border-collapse: collapse;"><td width="640" height="30" bgcolor="#ffffff" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr>
<tr style="border-collapse: collapse;"><td width="640" bgcolor="#ffffff" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">
    <table width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr style="border-collapse: collapse;">
            <td width="30" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>
            <td width="580" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">

                <layout label="Text only">
                    <table width="580" cellpadding="0" cellspacing="0" border="0">
                        <tbody><tr style="border-collapse: collapse;">
                            <td width="580" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">
                                <p align="left" style="font-size: 18px; line-height: 24px; color: #b0b0b0; font-weight: bold; margin-top: 0px; margin-bottom: 18px; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">This is what you ate today</p>
                            </td>
                        </tr>
                        <tr style="border-collapse: collapse;"><td width="580" height="10" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr>
                    </tbody></table>
                </layout>





                <!-- start of image row -->
                <% @data_points.each_slice(3) do |group| %>
                    <% if group.length == 3 %>
                    <table width="580" cellpadding="0" cellspacing="0" border="0">
                    <% elsif  group.length == 2%>
                    <table width="380" cellpadding="0" cellspacing="0" border="0">
                    <% elsif  group.length == 1%>
                    <table width="180" cellpadding="0" cellspacing="0" border="0">
                    <%end%>
                        <tbody>
                            <tr style="border-collapse: collapse;">
                                        <%= render :partial => "email/data_point", :collection => group, :as => :data_point %>
                            </tr>
                        </tbody>
                    </table>
                <!-- end of images -->
                <% end %>


            </td>
            <td width="30" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td>
        </tr>
    </tbody></table>
</td></tr>