<layout label="Text only">
    <table width="580" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr style="border-collapse: collapse;">
            <td width="580" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">

<p>
    Hi <%= @user.username%>,
</p>
<p>You must be STARVING since we haven't seen any photos of your meals!</p>

<p>TIP! If you forget to take a photo, try these awesome workarounds:</p>
<p>1) Google an image of what you ate and upload that.</p>
<p>2) Write down or draw what you ate on a peace of paper, and take a photo of that.</p>
<p>3) Have you eaten this meal before? Use the previous photo.</p>
            </td>
        </tr>
        <tr style="border-collapse: collapse;"><td width="580" height="10" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr>
    </tbody></table>
</layout>


