<!-- header -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
  <tbody>
    <tr height="40">
      <td style="border-collapse:collapse;font-size:18px;line-height:18px;font-weight:bold;color:#111111">&nbsp;</td>
    </tr>
    <tr height="18">
      <td style="border-collapse:collapse;font-size:18px;line-height:18px;font-weight:bold;color:#111111">
        <table align="center" bgcolor="#ffffff" style="border-collapse:collapse">
          <tbody>
            <tr>
              <td valign="middle" align="right" bgcolor="#ffffff" style="border-collapse:collapse;font-size:18px;line-height:18px;font-weight:bold;color:#111111">
                <div style="line-height:1px; background-color:#e96000;">
                  <%= image_tag('email/bullet-single-alpha.gif', :alt => "•", :style => "outline:none;text-decoration:none;line-height:1px; width:20px; height:18px")%>

                </div>
              </td>
              <td valign="middle" align="center" style="border-collapse:collapse;font-size:18px;line-height:18px;font-weight:bold;color:#111111; height:113px">
                <%= link_to root_url do%>
                    <%= image_tag('foodRubix_logo_800*150.png', :style => "display: inline; outline: none; text-decoration: none; width:600px; height:113px")%>
                <%end%>
                </a>


              </td>
              <td valign="middle" align="left" style="border-collapse:collapse;font-size:18px;line-height:18px;font-weight:bold;color:#111111">
                <div style="line-height:1px; background-color:#e96000;">
                  <%= image_tag('email/bullet-single-alpha.gif', :alt => "•", :style => "outline:none;text-decoration:none;line-height:1px; width:20px; height:18px")%>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr height="35">
      <td style="border-collapse:collapse;font-size:18px;line-height:18px;font-weight:bold;color:#111111">&nbsp;</td>
    </tr>
  </tbody>
</table>
