<p>preview emails here.</p>
<ul>
	<li>when someone like a photo: <a href="preview_like">preview</a></li>
	<li>when someone commented on your photo: <a href="preview_comment_your_photo">preview</a></li>
	<li>when someone else commented on a photo you commented: <a href="preview_others_comment">preview</a></li>
	<li>when someone just followed you: <a href="preview_follower">preview</a></li>
	<li>when you need to verify your account: <a href="preview_verify_account">preview</a></li>
	<li>when resetting your password: <a href="preview_reset_password">preview</a></li>
	<li>when you didn't eat anything for the day: <a href="preview_empty">preview</a></li>
	<li>daily recap: <a href="preview_daily">preview</a></li>
	<li>weekly recap: <a href="preview_weekly">preview</a></li>
	<li>when someone like a photo: <a href="">preview</a></li>
	<li>when someone like a photo: <a href="">preview</a></li>
</ul>