<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
        <tbody><tr style="border-collapse: collapse;">
            <td width="100%" style="border-collapse: collapse; font-family: sans-serif;">
                <p>Hi there,</p>
                <p>
                   We are sorry, but the email you just sent to upload a photo did not go through because you haven't attached any photo to your email.
               </p>
            </td>
        </tr>
        <tr style="border-collapse: collapse;"><td width="580" height="10" style="border-collapse: collapse; font-family: sans-serif;"></td></tr>
    </tbody>
</table>