
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr style="border-collapse: collapse;">
            <td width="100%" style="border-collapse: collapse; font-family: sans-serif;">


                <p>
                    <%=link_to image_tag(@follower.picture.url(:medium), :size => 100) ,  user_url(:username=> @follower.username)%>
                </p>
                <p>Hi <%= @followee.username.capitalize%>,</p>
                <p>
                    <%= link_to @follower.username.capitalize, user_url(:username=> @follower.username)%> is now following you.
                </p>
                <p>
                    <%= link_to "Follow #{@follower.username.capitalize}", team_rubix_url%>.
                </p>
            </td>
        </tr>
        <tr style="border-collapse: collapse;">
            <td width="100%" height="10" style="border-collapse: collapse; font-family: sans-serif;">
            </td>
        </tr>
    </tbody>
</table>


