
<%=link_to image_tag(@follower.picture.url(:medium), :size => 100) ,  user_url(:username=> @follower.username)%>

<p>Hi <%= @followee.username%>,</p>
<p><%= link_to @follower.username, user_url(:username=> @follower.username)%> is now following you.</p>
<p><%= link_to "Follow him back", team_rubix_url%></p>