
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse">
    <tbody>
        <tr style="border-collapse: collapse;">
            <td width="100%" style="border-collapse: collapse; font-family: sans-serif;">


                <p>Hi <%= @user.username.capitalize%>,</p>
                <p><%= link_to @comment.user.username.capitalize, user_url(:username=> @comment.user.username)%> has left a comment on a photo you previously commented. How exciting!</p>
                <p>Read the coment <%= link_to "here", data_point_url(:id => @dataPoint.id)%>.</p>

            </td>
        </tr>
        <tr style="border-collapse: collapse;">
            <td width="100%" height="10" style="border-collapse: collapse; font-family: sans-serif;">
            </td>
        </tr>
    </tbody>
</table>


