<layout label="Text only">
    <table width="580" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr style="border-collapse: collapse;">
            <td width="580" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">


                <p>A request to reset your password has been made.</p>
                <p>If you did not make this request, simply ignore this email.</p>
                <p>If you did make this request just click the link below:  </p>
                <p><%= @reset_url %></p>
                <p>If the above URL does not work try copying and pasting it into your browser.  </p>
                <p>If you continue to have problem please feel free to contact us.</p>

            </td>
        </tr>
        <tr style="border-collapse: collapse;"><td width="580" height="10" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;"></td></tr>
    </tbody></table>
</layout>


