
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr style="border-collapse: collapse;">
            <td width="100%" style="border-collapse: collapse; font-family: sans-serif;">


                <p>Thank you for signing up to FoodRubix!</p>
                <p>Please click the following link to verify your email address:</p>
                <p>
                    <a href="<%= @verification_url %>">
                        <%= @verification_url %>
                    </a>
                </p>
                <p>If the above URL does not work, try copying and pasting it into your browser. If you continue to have problems, please feel free to contact us.</p>

            </td>
        </tr>
        <tr style="border-collapse: collapse;">
            <td width="100%" height="10" style="border-collapse: collapse; font-family: sans-serif;">
            </td>
        </tr>
    </tbody>
</table>




