/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.jqplot.min.css
 *= require bootstrap.css
 *= require datepicker.css
 *= require timePicker.css
 *= require icon.css
 *= require image_ribbon.css
 *= require bootstrap.overwrite.css

*/

.highlight{
	color: #E96000;
}



/* team rubix
--------------------------------*/
#team-rubix .cbm_wrap{
	background: white;
	height: 1%;
	overflow: hidden
}

#team-rubix a.user{
height: 50px;
display: block;
	margin-bottom: 5px;
	margin-left: 0
}

#team-rubix a.user:hover{
background-color: #EEE;
}

#team-rubix a.user .btn{
	display:none;
}

#team-rubix a.user:hover .btn{
	display:inline;
}

#team-rubix a.user:hover p{
	display:none;
}

.leaderboard a.user:hover .points,
#all-users a.user:hover .points,
#latest-members a.user:hover .ago{
	padding-top: 12px;
}

#team-rubix form{
	margin: 0;
}

.leaderboard .rank{
	height:35px;
	padding: 13px 0 0;
	margin-bottom:0;
	font-weight: bold;
	width: 45px;
}

.leaderboard .rank span{
	display: table;
	margin: 0 auto;
}

.leaderboard .points,
#all-users .points{
	color: #E96000;
	font-weight: bold;
}
.leaderboard .points,
#all-users .points,
#latest-members .ago{
	padding: 15px 5px 0 0;
}

#team-rubix .btn{
	width: 80px;
}

#latest-members .member{
	width: 100%
}

#team-rubix .show_more{
	width: 96%
}

.user-list .span4{
	background-color: #EEE;
	margin-bottom: 10px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.user-list .btn{
	margin-top:10px;
}

.dots{
	background: url("/assets/3_dots.png") 0 0 no-repeat;
	height: 42px;
	left: 45%;
	position: relative;
	margin: 5px 0;
}

.leaderboard-info{
	margin-bottom: 0;
	margin-top: 5px;
}

.user span.username{
	margin-left: 10px;
}
/*images
--------------------------------*/

ul.sortableImages{
	margin: 0;
}
.week_view .cbm_wrap,
.month_view .cbm_wrap{
	width: 100px;
	height: 100px;
}

.day_view .sortableImages{
	padding: 5px 0;
	margin: 0 0 9px 20px;
}


.cbm_wrap {
	background: white url('/assets/loading.gif') no-repeat 50% 50%;
	display: block;
	padding: 10px;
	margin:3px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px
	rgba(0, 0, 0, 0.3), 0 0 40px
	rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.img_wrapper{
position: relative;
}

.image{
	position:relative;
	overflow:hidden;
	cursor: pointer;
}

.image .overlay{
	position: absolute;
	right: 0px;
	height: 44px;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	text-align: left;
	bottom: -44px;

}

.image .overlay div{
	clear: both;
}
.image .overlay span.label{
	font-size: 10px;
	font-weight: normal;
	float: right;
	margin: 2px 1px;
	background-color: #E96000;
}

.image .overlay span.label:hover{
	background-color: white;
	color: #E96000;
}

.edit_data_point{
	position:absolute;
	top:0;
	right:0;
	background-color: white;
	width:15px;
	height:15px;
	cursor:pointer;
}


/*user show (month, week and day view)
--------------------------------*/
#graphicContainer{
	padding-top: 20px;
}

.hoverActive{
	background-color: #E96000;
	border-radius: 4px;
}
.emptyState{
height: 50px;
margin: 100px 130px 0 0;
}

.emptyState blockquote{
	margin-top: 50px
}

.emptyState img{
	margin-left: 50px
}
/* month view table
--------------------------------*/
.month_view .table tbody tr:hover td,
.month_view .table tbody tr:hover th {
  background-color: white;
}
table.calendar_table th.span1_7{
	width: 132px;
	margin: 2px 0;
	margin-left: 0;
	padding:0;
	text-align: center;
}


table.calendar_table td.span1_7{
	width: 132px;
	margin-top: 0;
	margin-left: 0;
	padding:0;
}

table.calendar_table td.span1_7 .day_date{
	text-align: center
}
table.calendar_table tbody.scrollable td.span1_7{
	width: 132px;

}



table.calendar_table tbody.scrollable{
display: block;
height: 400px;
overflow: auto;
width: 100%;
}

/*week view layout
--------------------------------*/

.week_view .span1_7 {
  width: 125px;
  margin-top: 10px;
  margin-left: 0;
}

.week_view .span1_7.first {
  margin-left: 80px;
}



/*update data point modal box
--------------------------------*/

div.editable_img_container{
	position:relative;
}

.editable_img_container .controls{
    border: 1px solid #CCC;
    height: 200px;
    width: 200px;
	position:relative;

}

.editable_img_container .pic a{
	width: 100%;
	height: 100%;
}
.editable_img_container a{
	position: absolute;
}
.editable_img_container a.btn-upload{
	top: 47%;
	left: 27%;
}

.editable_img_container .progress{
	position: absolute;
	width: 51%;
	top: 47%;
	left: 25%;

}

.no-filesystem .modal input[type="file"]{
top: 47%;
left: 5px;
position: absolute;
}

/*.filesystem .modal input[type="file"]{
	display:none;
}

.no-filesystem .modal .btn-upload{
	display:none;
}


*/
/*view photo popup box
--------------------------------*/

.modal.viewPhoto{
	width:840px;
	margin-left: -425px;
	overflow: hidden;
}

.modal.viewPhoto .span5{
	width:370px;
	float: left;
	margin-left:20px;
}

.modal.viewPhoto .span3{
	width: 220px;
	float: left;
	margin-left: 5px;
}

.modal.viewPhoto .span1{
	width: 60px;
	float: left;
	margin-left: 20px;
}

.viewPhoto form{
	margin: 10px 0 10px 0;
}

.modal.viewPhoto .info{
	overflow-y: auto;
	height:380px;
}

.row.comment{
	margin-top:10px;
}

a.username{
	text-transform: capitalize;
}

/* Pagination
--------------------------------*/
.pagination em, .pagination span {
float: left;
padding: 0 14px;
line-height: 34px;
text-decoration: none;
border: 1px solid #DDD;
border-left-width: 0;
}
.pagination .previous_page{
border-left-width: 1px;
}

/* Nav bar
--------------------------------*/
.navbar .container .brand{
	padding: 5px 20px 0;
}

.brand img {
	width: 200px;
	margin: 4px 0 0 0;
}

.navbar .container .nav{
	padding-bottom: 0;
}

.navbar .container .nav>li>a{
	padding: 15px 12px 0;
}

.navbar .container .dropdown a.dropdown-toggle{
	padding-top:25px;
}
.navbar .container .dropdown-menu{
	top:110%;
}
.nav_icon{
	width: 35px;
	padding-bottom: 15px;
}

#hi_current_user{
	font-size: 18px;
	text-shadow: none;
	text-transform: uppercase;
	padding: 25px 12px 0;
	display: inline-block;
	color: black;
}

.navbar .user_pic{
	float: left;
	margin-top: 10px;
}

.navbar .user_menu_icon{
	margin-top: 5px
}
/* footer

the rest of the rules are for always stick the footer at bottom
see this tuto:
http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
--------------------------------*/
body, html {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}


.container.content {
	padding:10px;
	padding-bottom:150px;
}


footer {
	background: url("../../assets/homepage/footer-bg.png") repeat;
	width: 100%;
	height: 100px;
	text-align: right;
	margin-top:	50px;
	position:absolute;
	bottom:0;
	left:0;
}


/* user edit page
----------------------------------*/
div#wolframAlphaWidget47689.WolframAlphaWidgetLarge{
	width:380px;
}


