/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.jqplot.min.css
 *= require bootstrap.css
 *= require datepicker.css
 *= require timePicker.css
 *= require icon.css

*/

.center{
	text-align: center;
}

.image{
	position:relative;
}

.edit_data_point{
	position:absolute;
	top:0;
	right:0;
	background-color: white;
	width:15px;
	height:15px;
	cursor:pointer;	
}


/*month view table*/
table.calendar_table th.span1_7{
	width: 131px;
	margin: 2px 0;	
	padding:0;
}

table.calendar_table td.span1_7{
	width: 131px;
	margin-top: 0px;	
	margin-left: 0;	
	padding:0;
}

table.calendar_table tbody.scrollable td.span1_7{
	width: 131px;
	
}

table.calendar_table tbody.scrollable{
display: block;
height: 400px;
overflow: auto;
width: 100%;
}

/*week view layout*/
.span1_7 {
  width: 108px;
  margin-top: 10px;
}

.span1_7.first {
  margin-left: 80px;
}

/*update data point modal box*/
div.editable_img_container{
	position:relative;
}

.editable_img_container .controls{	
    border: 1px solid #CCC;
    height: 200px;
    width: 200px;

}
.editable_img_container img{
	opacity: 0.5;	
}

.editable_img_container a{
	position: absolute;
	top: 45%;
	left: 25%;
}

.editable_img_container .progress{
	position: absolute;
	width: 51%;
	top: 47%;
	left: 25%;
	
}