/* Pagination
--------------------------------*/
.pagination em, .pagination span {
float: left;
padding: 0 14px;
line-height: 34px;
text-decoration: none;
border: 1px solid #DDD;
border-left-width: 0;
}
.pagination .previous_page{
border-left-width: 1px;
}
