
<div style="text-align: center;">
	<div style="border-bottom: 2px solid #EEE;margin-bottom: 20px;">
		<%= link_to image_tag('foodRubix_logo.svg', :size => "400x112", :alt=> "Foodrubix logo"), static_url("home")%>
	</div>


	<%= yield %>

</div>
<div style="font-style:italic;padding: 20px 0;">
	<p>
		The Foodrubix team.
	</p>
</div>

<div style = "border-top: 2px dashed #EEE; padding-top: 10px; margin-top: 10px;">
Questions? email us at at jdaudier@outlook.com
</div>
